@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  /* background-color: black; */
  /* background-image: url('../assets/bg.jpg'); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  color: aliceblue;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar{
  display: none
}