@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: star-wars;
  src: url("../public/assets/starwars.otf");
}

@font-face {
  font-family: strike;
  src: url("../public/assets/Squartiqa4FStrike.ttf");
}

@font-face {
  font-family: strike-light;
  src: url("../public/assets/Squartiqa4FUltraLight.ttf");
}

@font-face {
  font-family: digital;
  src: url("../public/assets/Technology.ttf");
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  letter-spacing: 1.03px;
  line-height: 1.2em;
}

h1 {
  background: -webkit-linear-gradient(
    0deg,
    #cdcbca,
    aliceblue,
    #cdcbca,
    #2a3a3f
  );
  background-size: auto;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 100% !important;
}
